:global {
  .contact {
    display: flex;
    flex: 1;
    padding: 20px;
    text-align: left;
  }

  .contact-avatar {
    width: 90px;
    height: 90px;
    overflow: hidden;
  }

  .contact-info {
    display: flex;
    flex: 1;
  }

  .contact-details {
    flex: 1;
    padding: 10px 15px;
    .contact-name {

    }
    .contact-email {

    }
    .contact-phone {
      text-align: right;

    }
  }
}
